@model int 

<div class="text-center">
    <h1 class="text-info p-4"> Congratulation for your booking from Salil Akouna Food.</h1>
    <h4 class="text-warning pb-3">OrderId: @Model </h4>
    <img src="/images/order.png" width="80%" />
</div>